* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imgcookie {
  width: 100px;
  height: 100px;
}

body {
  background-color: rgb(245, 228, 220);
}

.maincookie {
  position: relative;
  height: 30rem;
  width: 30rem;
}

.cookiediv,
.pointlessdiv {
  position: absolute;
  height: 16rem;
  width: 12rem;
  background-color: white;
  margin-left: 5rem;
  margin-top: 3rem;
  border: 0.5rem solid rgba(27, 2, 20, 0.532);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.461), 0 1px 3px rgba(0, 0, 0, 0.06);
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 0.9rem;
}

.cookieh {
  width: 25rem;
  margin: 1rem;
  padding: 1rem;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.461), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.pointlessdiv {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pointlessdiv img {
  width: 9em;
  opacity: 80%;
}

.pointlessp {
  margin: 1rem;
  margin-top: -0.5rem;
}

.pointlessp span {
  font-size: 1.1rem;
  font-weight: 700;
}

.cookiebtn {
  margin: 1rem;
  padding: 0.1rem;
}

.cookiediv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: rotate(5deg);
  z-index: 10;
  top: 1rem;
  right: 7rem;
}

.paracookie {
  text-align: center;
}

.catDiv article {
  width: 18rem;
  height: 22rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  filter: sepia(10%);
  transform: rotate(-2deg);
}

.catimg {
  width: 13.5rem;
  height: 13.5rem;
  margin: 1.5rem auto;
}

.catPar {
  font-size: 0.7em;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  -webkit-text-stroke: 0.05em rgb(97, 84, 84);
}

.catBtns {
  display: flex;
  flex-direction: column;
  width: 16rem;
  position: relative;
  z-index: 15;
}

.btnDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  bottom: 16rem;
  left: 1rem;
  z-index: 25;
}

.btnDiv button,
.cookiebtn {
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favelist {
  background-color: #faf8f1;
  width: 25rem;
  height: 35rem;
  position: relative;
  max-height: 70rem;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.favelist ul {
  padding-left: 5rem;
}

.favelist li {
  position: relative;
  padding: 0 0.1rem;
  margin: 0.5rem 0.5rem;
  font-style: italic;
  z-index: 20;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(249, 220, 194, 0.6);
}

.favelist img {
  position: absolute;
  z-index: 5;
  bottom: 0rem;
  right: 0rem;
  width: 20rem;
  height: 15rem;
}

section {
  display: flex;
  margin-top: 5rem;
  gap: 4rem;
}

.catlisth {
  padding: 1.5rem;
  text-align: center;
  font-style: italic;
}
